###############################################################################
############################# common config ###################################
###############################################################################
globaldb.master.url=jdbc:mysql://13.213.17.183:3306/pangugle?useUnicode=true&characterEncoding=utf8&jdbcCompliantTruncation=false&useSSL=false&ServerTimezone=Asia/Shanghai
globaldb.slave1.url=jdbc:mysql://13.213.17.183:3306/pangugle?useUnicode=true&characterEncoding=utf8&jdbcCompliantTruncation=false&useSSL=false&ServerTimezone=Asia/Shanghai


### pika for cache config
pika.master.server1=13.213.17.183

### zk
zk.servers=13.213.17.183

### doamin
static.server=
upload.server=

### file upload
root.upload_tmp_path=/var/data/chat
root.upload_path=/var/data/chat